<div fxLayout="column" class="mt50px">
  <div fxLayout="row" fxLayoutAlign="center center">
    <span class="text14px-primary-dark-blue mb15px"> DEVICES AND BROWSERS</span>
  </div>
  <div fxLayout="row" class="text-center mb50px">
    This is the list of devices and web browsers where you have used your CONNECT account. Please remove the ones that you don't want to be remembered on. You will still be able to use your account on these devices if you sign-in again.
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%" class="border-bottom-grye">
    <div fxFlex="10%">
      <mat-icon svgIcon="desktopMac"></mat-icon>
    </div>
    <div fxFlex="50%" fxLayout="column">
      <p class="p0 bold">Desktop · London, England </p>
      <p class="p0">Windows NT · Firefox 87.0 </p>
      <p class="p0">IP: 12.345.678.9</p>
    </div>
    <div fxFlex="20%">in few seconds</div>
    <div fxFlex="20%" class="text-primary">
      <mat-icon svgIcon="checkGreen" class="checkGreen"></mat-icon> current device
    </div>
  </div>

</div>