.card {
  width: 563px;
  height: fit-content;
  margin: 0 25px;
  border-radius: 6px;
  box-shadow: 0 6px 10px #1bb1b22b;
  text-align: center;

  .title-verify {
    font-size: 34px;
    font-weight: bold;
  }
}
