<section>
    <mat-card class="card" fxLayout="column">
        <mat-card-content>
            <h1 class="title-verify mb50px mt70px">Verify your E-mail</h1>
            <h2>Welcome to Arpha!</h2>
            <p class="font-size16px">To activate this account, please confirm your e-mail address. We have sent you a
                verification e-mail. Click and follow the link inside it.</p>
            <img src="./assets/img/verify-account.svg">
            <p>Haven't received an e-mail?
                <button mat-button color="primary" class="btn-resend" (click)="onResend()">Resend</button>
            </p>
        </mat-card-content>
    </mat-card>
</section>