<h2 mat-dialog-title>Cite Figure</h2>

<mat-dialog-content>
  <div #noselectionError [ngStyle]="{'display':error?'block':'none'}" class="selection-error">
    You have not selected any figures.
  </div>

  <ng-container *ngFor="let figureId of figuresData;let i = index" fxLayoutGap="12px">
    <div class="figure-container">
      <mat-checkbox class="figure-title-checkbox"
                    [checked]="selectedFigures[i]"
                    [color]='"primary"'
                    (change)="setSelection($event.checked,figureId,i)">
        Figure {{i + 1}}
      </mat-checkbox>

      <div fxLayout="row wrap" fxLayoutGap="16px">
        <mat-card class="figure-card" *ngFor="let component of figures[figureId].components;let j = index" fxLayout="column nowrap">
          <mat-checkbox class="component-checkbox"
                        *ngIf="figures[figureId].components.length > 1"
                        [checked]="figuresComponentsChecked[figureId][j]"
                        [color]='"primary"'
                        (change)="setSelection($event.checked,figureId,i,j)">
            Fig. {{i + 1}}{{getCharValue(j)}}
          </mat-checkbox>
          <img *ngIf="component.componentType == 'image'"
               src="{{component.url}}" alt="Figure {{i + 1}}{{getCharValue(j)}}" height="140" />

          <div class="video-thumb" *ngIf="component.componentType == 'video'">
            <mat-icon>ondemand_video</mat-icon>
          </div>
          <!--
          <iframe *ngIf="component.componentType == 'video'"
                  width="249" height="140" [src]="component.url | safe" title="Figure {{i + 1}}{{getCharValue(j)}}"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen=""></iframe>
          -->
        </mat-card>
      </div>
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button [mat-dialog-close]="true">Cancel</button>
  <button mat-stroked-button color="primary" (click)="addFigure()">Add Figure</button>
  <button mat-flat-button color="primary" (click)="citateFigures()">Cite Figures</button>
</mat-dialog-actions>
