<!--The content below is only a placeholder and can be replaced.-->
<div>
  <br />Sub:(not used RN)
  <input type="text" #sub>
  <br />OBJ:
  <input type="text" #obj>
  <br />ACT:
  <input type="text" #act>
  <br />Test to see the output
  <button (click)="testEnforce(sub.value,obj.value,act.value)">Test</button>
  <div>
    {{output}}
  </div>
  <br />
  <button (click)="enforcer.triggerUpdatePolicy()">triggerUpdatePolicy</button>
  <br />
  <button *ngIf="enforcer.newBeahviorSubject| hasPermission:'button123':'click' | async">Button with permission</button>
</div>
