<div fxLayout="column" class="mt50px">
    <div fxLayout="row" fxLayoutAlign="start">
        <span class="text14px-primary-dark-blue mb15px">TODAY</span>
    </div>
    <!-- Tova she idva ot backenda -->
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%" class="border-bottom-grye pt15px pb15px">
        <div fxFlex="10%">
            <img src="../../../../../assets/img/logo-in-activity.svg" />
        </div>
        <div fxFlex="65%">
            Visited Atypon Apps
        </div>
        <div fxFlex="25%" class="text-grey">a few seconds ago</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%" class="border-bottom-grye pt15px pb15px">
        <div fxFlex="10%">
            <img src="../../../../../assets/img/logo-in-activity.svg" />
        </div>
        <div fxFlex="65%">
            Updated record account activity to true
        </div>
        <div fxFlex="25%" class="text-grey">an hour ago</div>
    </div>
    <!-- Tova she idva ot backenda -->
</div>