<h2 mat-dialog-title>Insert link</h2>

<mat-dialog-content>
  <p>Enter link and text,representing the link</p>
  <mat-label class="upper-label">Link</mat-label>
  <mat-form-field [style.width]='"100%"' appearance="fill">
    <input matInput [(ngModel)]="data.url" [formControl]="this.url" required placeholder="Enter link url" #linkurlinput>
    <mat-error *ngIf="this.url.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-label class="upper-label">Text</mat-label>
  <mat-form-field [style.width]='"100%"' appearance="fill">
    <input matInput [(ngModel)]="data.text" [formControl]="this.text" required placeholder="Enter link text">
    <mat-error *ngIf="this.text.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button [mat-dialog-close]>Cancel</button>
  <button mat-flat-button color="primary" [disabled]="url.invalid || text.invalid" [mat-dialog-close]="data" cdkFocusInitial>Insert Link</button>
</mat-dialog-actions>
