<div fxLayout="column" class="mt50px">
  <div fxLayout="row" fxLayoutAlign="center center">
    <span class="text14px-primary-dark-blue mb15px"> PASSWORD SETUP</span>
  </div>
  <div fxLayout="row" class="text-center mb50px">
    A strong password helps prevent unauthorized access to your account. Don't use a password from another site. Use at least 8 characters.
  </div>

  <div fxLayout="column" fxLayoutAlign="start" fxFlex="100%">
    <form [formGroup]="changePasswordForm" (submit)="submitChangePassword()" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%">
        <div fxFlex="25%" class="text14px-primary-dark-blue">Set Password
        </div>
        <mat-form-field appearance="outline" fxFlex="100%" color="primary-input">
          <input matInput type="password" name="set-password" formControlName="setPassword">
          <mat-icon matSuffix svgIcon="eyeGreen"></mat-icon>
          <!-- <mat-hint>Password must be at least XX characters long and cointain special characters and
                            digits!</mat-hint> -->
          <mat-error *ngIf="changePasswordForm.get('setPassword')?.touched && !changePasswordForm.get('setPassword')?.valid">
            Please set password!
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%">
        <div fxFlex="25%" class="text14px-primary-dark-blue">Confirm password
        </div>
        <mat-form-field appearance="outline" fxFlex="100%">
          <input matInput type="password" name="confirm-password" formControlName="confirmPassword">
          <mat-icon matSuffix svgIcon="eyeGreen"></mat-icon>
          <!-- <mat-hint>Password must be at least XX characters long and cointain special characters and
                            digits!</mat-hint> -->
          <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.touched && !changePasswordForm.get('confirmPassword')?.valid">
            Please confirm password!
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start" class="mb100px">
        <button mat-raised-button color="primary" type="submit" class="w160px" [disabled]="!changePasswordForm.valid">
                    Set password
                </button>
      </div>
    </form>
  </div>

</div>