<!-- <formio [form]="titleContent" [submission]='{"data": {"name": "Joe Smith"}}'  ></formio>  -->
<!-- <mat-formio class="article-section" [form]="sectionContent" (submit)='submit($event)'></mat-formio> -->

<!-- If section is inside a modal -->
<h2 mat-dialog-title *ngIf="section.mode == 'editMode'">Edit: <span class="make-block-nodes-inline" [innerHTML]="sectionTreeTitleValue | safehtml"></span></h2>

<div *ngIf='section.mode == "editMode"' class="popup-menu-container"></div>

<mat-dialog-content *ngIf="section.mode == 'editMode'">

  <div [formGroup]="sectionForm">
    <div #codemirrorHtmlTemplate class='codemirror-editor' [ngStyle]="{'display': hidehtml ? 'none' : 'block'}"></div>
    <div #codemirrorJsonTemplate class='codemirror-editor' [ngStyle]="{'display': hidejson ? 'none' : 'block'}"></div>
    <div #codemirrorMenusAndSchemasDefs class='codemirror-editor' [ngStyle]="{'display': hideDefsjson ? 'none' : 'block'}"></div>
    <div *ngIf="error"><pre class="errors-container">{{errorMessage}}</pre></div>
    <ng-container *ngIf='renderForm'>
      <!--
      <div class="complex-section-tree" *ngIf="complexSection">
        <app-complex-edit-tree [(section)]="section" [(sectionChildren)]="childrenTreeCopy!" [(deletedSections)]="complexSectionDeletedChildren" [(addedSections)]="complexSectionAddedChildren"></app-complex-edit-tree>
        <div class="submit-complex-btn-container">
          <button mat-raised-button class="bottom-complex-action-btn" (click)="cancelComplexSectionEdit()">Cancel</button>
          <button mat-raised-button class="bottom-complex-action-btn" (click)="submitComplexSectionEdit()">Submit</button>
        </div>
      </div>  -->
      <div *ngIf="section.title.name != 'Taxon' && section.title.name != '[MM] Materials' && section.title.name != 'Material'" [ngClass]="{'formio-edit-section':true,'formio-taxonomicComponent':section.title.name == 'Taxonomic coverage','complex-section-formio':complexSection}">
        <mat-formio #formio [form]="sectionContent" (ready)="ready($event)" (change)="onChange($event)" (submit)="onSubmit($event)"></mat-formio>
      </div>

      <app-taxon-section *ngIf="section.title.name == 'Taxon'" [(onSubmit)]="onSubmit" [(section)]="section" [(triggerCustomSecSubmit)]="triggerCustomSecSubmit"></app-taxon-section>
      <app-materials-section *ngIf="section.title.name == '[MM] Materials' && !component" [(onSubmit)]="onSubmit" [(section)]="section" [fGroup]="sectionForm" [(triggerCustomSecSubmit)]="triggerCustomSecSubmit"></app-materials-section>
      <app-material-section *ngIf="section.title.name == 'Material' || component" [(onSubmit)]="onSubmit" [(section)]="section" [(triggerCustomSecSubmit)]="triggerCustomSecSubmit"></app-material-section>
      <app-funder-section *ngIf="section.title.name == '[AM] Funder'" [(onSubmit)]="onSubmit" [(section)]="section" [(triggerCustomSecSubmit)]="triggerCustomSecSubmit"></app-funder-section>
    </ng-container>
  </div>

  <div style="display: none;">
    <div #container>

    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="section.mode == 'editMode'" align="end" fxLayoutGap="8px">
  <button mat-stroked-button [mat-dialog-close]>Cancel</button>
  <ng-container *ngIf="!config.production">
    <button mat-stroked-button color="primary" (click)="hidehtml=!hidehtml">Edit HTML</button>
    <button mat-stroked-button color="primary" (click)="hidejson=!hidejson">Show JSON</button>
    <button mat-stroked-button color="primary" (click)="hideDefsjson=!hideDefsjson">Show Menus And Schema Defs</button>
  </ng-container>
  <button mat-flat-button color="primary" (click)="submitSection()" [disabled]="!isValid">Save</button>
</mat-dialog-actions>

<!-- If section is inside the Editor -->
<div #ProsemirrorEditor *ngIf='section.mode == "documentMode"'></div>
