<mat-toolbar color="primary" class="toolbar" *ngIf="authService.isLoggedIn()">
  <mat-toolbar-row class="toolbar-row">
    <a class="logo" href="/">
      <img src="./assets/logo/arpha.svg" width="150" height="40" title="Home" alt="Home">
      <div class="app-version">v:{{version}}</div>
    </a>
    <div class="add-article-navigation">
      <!-- <button mat-button class="dropdown-btn" [matMenuTriggerFor]="menu2">
        {{'lang' | translate }}
        <mat-icon color="primary" class="expand-less">expand_less</mat-icon>
        <mat-icon color="primary" class="expand-more">expand_more</mat-icon>
      </button> -->
      <mat-menu #menu2="matMenu">
        <button mat-menu-item  (click)="setLanguage(language)" *ngFor="let language of languages">
          {{ language | translate }}
        </button>
      </mat-menu>
      <button mat-button *ngIf="
      !this.router.routerState.snapshot.url.endsWith('dashboard')&&(
      enforcer.newBeahviorSubject| hasPermission:
      '/layouts':
      'POST' |
      async)" (click)="openchooseDialog()" class="btn-start-new-project">
        <mat-icon svgIcon="dasboardNewProject" class="icon-plus"></mat-icon>Start Manuscript
      </button>
    </div>
    <div class="profile-details">
      <div (mouseover)="changeText=true" (mouseout)="changeText=false">
        <div *ngIf="!changeText&&mobileVersion" class="eye-icon" (click)="openDashBoard()">
          <mat-icon svgIcon="dashboard"></mat-icon>
        </div>
        <div *ngIf="changeText||!mobileVersion" class="eye-icon" (click)="openDashBoard()">
          <mat-icon svgIcon="dashboard"></mat-icon><span class="text-dashbord-header">Dashboard</span>
        </div>
      </div>
      <app-theme-toggle class="theme-toggle"></app-theme-toggle>
      <app-notifications class="notifications-component" ></app-notifications>
      <button mat-button class="dropdown-btn" [matMenuTriggerFor]="menu">
        <ng-container *ngIf="authService.currentUserSubject | async as user">
          <ngx-avatar size="36" [gravatarId]="user.email" [name]="user.name" bgColor="#00B3B4"></ngx-avatar>
        </ng-container>
        <mat-icon color="primary" class="expand-less">expand_less</mat-icon>
        <mat-icon color="primary" class="expand-more">expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
<!--        <button mat-menu-item routerLink="/profile">-->
<!--          <span>View Profile</span>-->
<!--        </button>-->
        <!-- <button mat-menu-item routerLink="/edit-profile">
          <span>Edit Profile</span>
        </button> -->
        <arpha-button label="Log Out" (clickEvent)="logout()" class="text-icon upload-row"></arpha-button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
