<h2 mat-dialog-title *ngIf="data&&data.node">Add section to <span class="make-block-nodes-inline" [innerHTML]="data.node.title.label | safehtml"></span></h2>
<h2 mat-dialog-title *ngIf="!data||!data.node">Add section to Article</h2>

<div class="search-field-wrapper">
  <form (keydown)="passSearchVal(inputText)" fxFlex="100%" fxLayout="column">
    <label>Select a section</label>
    <mat-form-field floatLabel="never" appearance="standard">
      <input matInput class="section-search" type="text" #inputText placeholder="Search for section">
    </mat-form-field>
  </form>
</div>

<mat-dialog-content class="fixed-dialog-content-height">

  <div *ngIf="showError" class="error">No Section selected.</div>

  <div *ngIf="searchResults.length == 0">
    There are no allowed sections
  </div>

  <mat-selection-list #topic [multiple]="false" [ngClass]="{'sections-list': true, 'no-results': searchResults.length == 0}">
    <mat-list-option *ngIf="initialSectionResults.length>0" [disabled]="true">
      Initial Sections:
    </mat-list-option>
    <mat-list-option *ngFor="let section of initialSectionResults; let first_initial = first; let last_initial = last" [value]="section" [ngClass]="{'first-item':first_initial, 'last-item':last_initial}">
      <div class="section-add-container"  matTooltip="{{(section.secname != section.name)?'Section name: '+section.secname:null}}">
        <span class="section-name-container">
          {{section.name}}
        </span>
        <span class="section-version-container">
          v.{{section.version}}
        </span>
      </div>
    </mat-list-option>
    <mat-list-option *ngIf="compatibilitySectionsResults.length>0" [disabled]="true">
      Compatibility Sections:
    </mat-list-option>
    <mat-list-option *ngFor="let section of compatibilitySectionsResults; let first_compatible = first; let last_compatible = last" [value]="section" [ngClass]="{'first-item':first_compatible, 'last-item':last_compatible}">
      <div class="section-add-container" matTooltip="{{(section.secname != section.name)?'Section name: '+section.secname:null}}">
        <span class="section-name-container">
          {{section.name}}
        </span>
        <span class="section-version-container">
          v.{{section.version}}
        </span>
      </div>
    </mat-list-option>
  </mat-selection-list>

</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button (click)="closeSectionChoose()">
    Cancel
  </button>
  <button mat-flat-button color="primary" (click)="chooseSection(topic.selectedOptions.selected[0].value)">
    Save
  </button>
</mat-dialog-actions>
