@import "/src/assets/colors";

.section-choose {
  padding: 24px 0 24px 0;
}

.error {
  background-color: $error-red;
}

label {
  color: $light-grey;
}

.section-search{
  height: 40px;
}

.section-add-container{
  .section-name-container{
    width: 80%;
    display: inline-block;
  }
  .section-version-container{
    width: 20%;
    text-align: right;
    display: inline-block;
  }
}

.get-sections-spinner-container{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
  background-color: #8080805c;

  .get-sections-spinner{
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    z-index: 5;
    right: calc(50% - 50px);
  }
}

.mat-selection-list.sections-list {
  border: 0;
  border-radius: 0;

  .mat-list-option {
    border: 1px solid var(--color-cacdd3);
    border-top: 0;

    &.mat-list-item-disabled {
      background: var(--color-ffffff);
      font: 400 16px / 28px var(--font-family-open-sans);
      letter-spacing: 0.0094em;
      border: 0;

      ::ng-deep {
        .mat-list-item-content {
          padding: 0;
        }
      }
    }

    &.first-item {
      border-top: 1px solid var(--color-cacdd3);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    &.last-item {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      margin-bottom: 8px;
    }
  }
}
