:host-context(.large) .arpha-button {
    @media screen and (min-width: 1200px) {
        width: 460px;
    }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 400px;
    }
    @media screen and (max-width: 992px) {
        width: 335px;
    }
    font-size: 15px !important;
    line-height: 20px;
}

:host-context(.small) .arpha-button {
    @media screen and (min-width: 1200px) {
        width: 138px;
    }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 138px;
    }
    @media screen and (max-width: 992px) {
        width: 140px;
    }
    font-size: 14px;
    line-height: 20px;
}

:host-context(.primary) .arpha-button {
    background-color: var(--color-00b1b2);
    color: var(--color-ffffff) !important;
    border: 1px solid var(--color-00b1b2);
    &:hover {
        border-color: var(--color-00999a) !important;
    }
    &:disabled {
        border-color: var(--color-00999a) !important;
        opacity: 0.7;
         ::ng-deep {
            .mat-button-wrapper {
                opacity: 0.7;
            }
        }
    }
}

:host-context(.secondary) .arpha-button {
    background-color: var(--color-ffffff);
    color: var(--color-00b1b2);
    border: 1px solid var(--color-00b1b2);
    &:disabled {
        opacity: 0.7;
         ::ng-deep {
            .mat-button-wrapper {
                opacity: 0.7;
            }
        }
    }
}
:host-context(.third) .arpha-button {
  color: var(--color-818181);
  &:disabled {
    opacity: 0.7;
    ::ng-deep {
      .mat-button-wrapper {
        opacity: 0.7;
      }
    }
  }
}
:host-context(.noborder) .arpha-button {
    border: none;
}

:host-context(.gray) .arpha-button {
    background-color: transparent;
    color: #c9c9c9;
    border: 1px solid #c9c9c9;
    &:disabled {
        opacity: 0.7;
         ::ng-deep {
            .mat-button-wrapper {
                opacity: 0.7;
            }
        }
    }
}

:host-context(.icon-only) .arpha-button {
    mat-icon {
        font-size: 18px;
        height: 18px;
        width: 18px;
    }
}

:host-context(.icon-text) .arpha-button {
    mat-icon {
        font-size: 15px;
        height: 15px;
        width: 15px;
    }
}

.arpha-button {
    height: 40px;
    font-family: "Open Sans" !important;
    letter-spacing: 0;
    font-weight: 600 !important;
    &:hover {
      opacity: 0.9;
    }
}
