<button *ngIf="!routerLink" mat-flat-button class="arpha-button" [type]="type" [disabled]="disabled" (click)="onButtonClick($event)">
  <mat-icon *ngIf="icon">{{icon}}</mat-icon>
  <img alt="{{label}}" *ngIf="image" src="{{image}}" />
  <span *ngIf="label">{{label}}</span>
</button>

<button *ngIf="routerLink" mat-flat-button class="arpha-button" [disabled]="disabled" (click)="onButtonClick($event)"
  [routerLink]="routerLink">
  <mat-icon [ngClass]="{true: 'arpha-button-icon'}" *ngIf="icon" >{{icon}}</mat-icon>
  <span [ngClass]="{true: 'arpha-button-label'}" *ngIf="label">{{label}}</span>
</button>
