.auto-complete-container {
  position: absolute;
  height: auto;
  width: 300px;
  max-height: 150px;
  z-index: 2;
  border-radius: 6px;
  padding: 8px 0;
  margin: -10px 0 0 0;
  left: calc(50% - 5px);
  transform: translate(-50%, 0);
  background-color: var(--color-ffffff);
  box-sizing: border-box;
  box-shadow: 0 2px 4px #1bb1b22b;
  overflow: auto;

  .user-option {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    .avatar-autocomplete {
      display: inline-block;
    }

    .text-autocomplete {
      font-size: 12px;
      line-height: 18px;
      color: var(--color-192956);
      letter-spacing: 0;
    }
  }

  .user-option:hover {
    background-color: #A6DEE080;
  }

  .selected-option {
    background-color: #A6DEE080;
  }
}
