// level 0 css
$textFontWeight: 500;
$textFontSize: 15px;
$itemHeight: 30px;
::ng-deep .drag_btn {
  height: 20px !important;
  width: 20px !important;
  line-height: 0px;
  .mat-icon {
    font-size: 15px;
    vertical-align: baseline;
  }
}

::ng-deep .no-children-placeholder {
  height: 20px;
  width: 100%;
  color: transparent;
}

::ng-deep .error-list-drop {
  background-color: #f16a6a;
  margin: 5px;
  border-radius: 3px;
  position: relative;
  z-index: 4;
  padding: 2px;
  padding-left: 11px;
}

::ng-deep .matIcon {
  font-size: 18px !important;
}

::ng-deep .section_btn_outerList, ::ng-deep .section_btn_nestedList {
  height: 30px !important;
  width: 30px !important;
  padding: 0px;
  line-height: 0px;

  .mat-button-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 34px;
    padding: 0;

    img, mat-icon {
      width: auto;
      height: 20px;
    }
  }

  &:first-child {
    .mat-button-wrapper {
      mat-icon {
        font-size: 20px !important;
        height: 22px;
      }
    }
  }

  &.is-delete {
    .mat-button-wrapper {
      img {
        height: 22px;
      }
    }
  }

  &.addSectionBtn {
    .mat-button-wrapper {
      mat-icon {
        font-size: 22px !important;
        transform: none;
        height: 23px;
        margin: 0 0 0 1px;
      }
    }
  }
}

.section_btn_outerList {
  color: #223361;
  background-color: white;
  margin: 0 2px;
  z-index: 5;
  vertical-align: middle;
  box-shadow: 0px 1px 1px -3px rgb(0 177 178 / 20%), 0px 2px 2px 0px rgb(0 177 178 / 20%), 0px 1px 1px 0px rgb(0 177 178 / 20%);
}

::ng-deep .section_btn {
  height: 30px !important;
  width: 30px !important;
  padding: 0px;
  line-height: 0px;
}

::ng-deep .section_btn_nestedList {
  height: 30px !important;
  width: 30px !important;
  padding: 0px;
  line-height: 0px;
}

.sectionBorderNestedInactive {
  display: inline-flex;
  padding-left: 30px;
  min-height: $itemHeight;
  width: fit-content;
  z-index: 4;
  position: relative;
}

.sectionBorderNested {
  display: inline-flex;
  padding-left: 30px;
  margin-left: 0px !important;
  background-color: white;
  border-radius: 6px;
  height: $itemHeight;
  z-index: 4;
  position: relative;
  width: calc(100% - 105px);
  box-shadow: 0px 1px 1px -3px rgb(0 177 178 / 20%), 0px 2px 2px 0px rgb(0 177 178 / 20%), 0px 1px 1px 0px rgb(0 177 178 / 20%);
  position: relative;
}

.sectionBorderListNestedInactive {
  display: inline-flex;
  margin-left: 26px;
  height: $itemHeight;
  background-color: #f9fafc;
  z-index: 4;
  width: fit-content;
  position: relative;
}

.sectionBorderListNested {
  display: inline-flex;
  padding-left: 26px;
  background-color: white;
  border-radius: 6px;
  height: $itemHeight;
  z-index: 4;
  position: relative;
  width: 60%;
  box-shadow: 0px 1px 1px -3px rgb(0 177 178 / 20%), 0px 2px 2px 0px rgb(0 177 178 / 20%), 0px 1px 1px 0px rgb(0 177 178 / 20%);
  position: relative;
}

.sectionBorderListItem {
  display: inline-flex;
  background-color: white;
  border-radius: 6px;
  width: 74%;
  z-index: 4;
  position: relative;
  vertical-align: middle;
  height: $itemHeight;
  box-shadow: 0px 1px 1px -3px rgb(0 177 178 / 20%), 0px 2px 2px 0px rgb(0 177 178 / 20%), 0px 1px 1px 0px rgb(0 177 178 / 20%);
}

.sectionBorderListItemInactive {
  display: inline-flex;
  width: fit-content;
  vertical-align: middle;
  background-color: #f9fafc;
  height: $itemHeight;
  z-index: 4;
  position: relative;
}

.sectionBorderInactive {
  display: inline-flex;
  padding-left: 30px;
  height: $itemHeight;
  width: fit-content;
  z-index: 4;
  position: relative;
}

.vertical_line_nestedList {
  border-left: 2px solid #6cd0d2;
  display: inline;
  position: absolute;
  height: 100%;
  transform: translate(17px, -37px);
}

.sectionBorder {
  display: inline-flex;
  padding-left: 30px;
  background-color: white;
  border-radius: 6px;
  z-index: 4;
  position: relative;
  height: $itemHeight;
  .text-section-div {
    text-overflow: clip !important;
  }
  width: calc(100% - 65px);
  box-shadow: 0px 1px 1px -3px rgb(0 177 178 / 20%),
  0px 2px 2px 0px rgb(0 177 178 / 20%),
  0px 1px 1px 0px rgb(0 177 178 / 20%);
}

::ng-deep .expandBTN {
  height: 20px !important;
  width: 20px !important;
  margin-left: 8px;
  margin-right: 9px;
  align-self: center;
  line-height: 0px !important;
  .mat-icon {
    line-height: 20px !important;
    vertical-align: baseline;
  }
}

.drag_btn {
  cursor: move;
}

.drag_btn_leaf_node {
  position: absolute;
  transform: translate(-34px);
  align-self: center;
  .mat-icon {
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
}

.drag_btn_list_node {
  position: absolute;
  transform: translate(-4px);
  align-self: center;
  .mat-icon {
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
}

.example-list-dropdownbox {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-placeholder-nested {
  border-left: 2px solid #6cd0d2;
  padding-left: 8px;
  z-index: 3;
  display: initial;
  position: absolute;
  border-bottom: 2px solid #6cd0d2;
  transform: translate(17px, -24px);
  height: 36px;
}

.section_btn {
  color: #223361;
  background-color: white;
  margin-right: 1px;
  z-index: 5;
  margin-left: 2px;
  box-shadow: 0px 1px 1px -3px rgb(0 177 178 / 20%), 0px 2px 2px 0px rgb(0 177 178 / 20%), 0px 1px 1px 0px rgb(0 177 178 / 20%);
}

.node-box-dropdownbox {
  position: relative !important;
  //padding: 10px 5px 10px 5px;
  background-color: #f9fafc;
  color: rgba(0, 0, 0, 0.87);
  padding-left: 5px;
  min-height: 45px;
  font-size: $textFontSize !important;
  font-weight: $textFontWeight !important;
}

.node-box {
  position: relative;
  //padding: 10px 5px 10px 5px;
  background-color: #f9fafc;
  color: rgba(0, 0, 0, 0.87);
  font-size: $textFontSize;
  padding-left: 7px;
  font-weight: $textFontWeight;
  height: 45px;
}

.cdk-drag-preview {
  background-color: transparent;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.outer-list.cdk-drop-list-dragging .node-box:not( .border-view) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.outer-list.cdk-drop-list-dragging .node-box-dropdownbox:not(.border-view) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.nested-list.cdk-drop-list-dragging .node-box-nested:not(.border-view) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.nested-list.cdk-drop-list-dragging .node-box-dropdownbox-nested:not(.border-view) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.nested-empty-placeholder {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  height: 32px;
}

.nested-list {
  margin: 0 0 0 40px;

  &.is-empty {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    font-size: 13px;
    color: var(--color-cacdd3);
    height: 32px;
  }
}

.border-placeholder {
  .border-view {
    background: #e0f3f4;
    border-style: dashed;
    border-radius: 6px;
    border-width: 2px;
    border-color: #1ebabb;
    margin-left: 3px;
    min-height: 28px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.border-placeholder-nested {
  .border-view {
    background: #e0f3f4;
    border-style: dashed;
    border-radius: 6px;
    border-width: 2px;
    border-color: #1ebabb;
    min-height: 28px;
    margin-left: 21px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.expand_more {
  color: #09b4b4;
}

// level > 0 css
.node-box-nested {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  height: 32px;
  font-size: $textFontSize;
  font-weight: $textFontWeight;
}

.node-box-dropdownbox-nested {
  position: relative !important;
  color: rgba(0, 0, 0, 0.87);
  font-size: $textFontSize;
  font-weight: $textFontWeight;
  //padding-left: 20px;
}

.section_btn_container {
  display: inline-grid;
  height: fit-content;
  align-content: center;
  width: 30px;
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translate(4%, -50%);
  margin-top: -2px;
}

.drag_btn_leaf_node_nested {
  position: absolute;
  transform: translate(-34px, 0px);
  align-self: center;
  .mat-icon {
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
}

.drag_btn_list_node_nested {
  position: absolute;
  transform: translate(-24px, 0px);
  align-self: center;
  .mat-icon {
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
}

.section_btn_nestedList {
  color: #223361;
  background-color: white;
  margin: 0 2px;
  z-index: 5;
  vertical-align: top;
  box-shadow: 0px 1px 1px -3px rgb(0 177 178 / 20%), 0px 2px 2px 0px rgb(0 177 178 / 20%), 0px 1px 1px 0px rgb(0 177 178 / 20%);
}

::ng-deep .expandBTNNested {
  height: 20px !important;
  width: 20px !important;
  align-self: center;
  line-height: 0px !important;
  .mat-button-wrapper {
    line-height: 0px !important;
  }
  .mat-icon {
    height: 20px;
    width: 20px;
    line-height: 20px;
    vertical-align: baseline;
  }
}

.example-list-dropdownbox-nested {
  display: inline-flex;
  height: 34px;
  z-index: 4;
  width: 100%;
  border-left: 1px solid var(--color-00b1b2);
  box-sizing: border-box;
}

.selectedEditor {
  background-color: #e4f6f6;
  width: 60%;
  z-index: 4;
}

.selectedEditorNestedLeaf {
  background-color: #e4f6f6;
  margin-left: 18.7px;
  padding-left: 11.3px;
  width: 60%;
  z-index: 4;
}

.selectedEditorNestedList {
  background-color: #e4f6f6;
  margin-left: 19px;
  padding-left: 7px;
  width: 60%;
  z-index: 4;
}

.text-placeholder {
  border-left: 2px solid #6cd0d2;
  padding-left: 8px;
  z-index: 3;
  display: initial;
  position: absolute;
  height: 113%;
  border-bottom: 2px solid #6cd0d2;
  transform: translate(17px, -20px);
}

.text-section-div-nested {
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-section-div {
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-section-list-item-div {
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 4px;
  white-space: nowrap;
}

.outer-list {
  padding: 24px 0;
  border-bottom: 1px solid #d6d6d6;
}

.search-mode {
  padding: 54px 0;
  border-bottom: 1px solid #d6d6d6;
}