<div class="main">

  <div class="header">
    <div class="logo">
      <img src="./assets/img/logo1.svg" height="42px" width="197px" alt="arpha">
      <div class="app-version">v:{{version}}</div>
    </div>
  </div>

  <div class="content">
    <div class="register">

    <div class="title-container">Login</div>

    <form class="form-container" [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form-a">
        <label class="arpha-label character-style-11">{{'Email*'}}</label>
        <div class="arpha-input-container">
          <input
            class="arpha-input"
            type="email"
            formControlName="email"
            label="Email*"
            placeholder="Email address"
            id="email"
          >
        </div>
      </div>
      <div class="form-b">
        <label class="arpha-label character-style-11">{{'Password*'}}</label>
        <div class="arpha-input-container">
          <input
            class="arpha-input"
            formControlName="password"
            type="{{ passwordIsVisible ? 'text' : 'password' }}"
            label="Password*"
            placeholder="Password"
            id="password"
          >
          <mat-icon class="password-icon" (click)="passwordIsVisible = !passwordIsVisible">remove_red_eye</mat-icon>
        </div>
      </div>
      <div class="password-link"><a>Forgot your password?</a></div>
      <div class="error-container" #errorContainer>{{errorText}}</div>
      <arpha-button label="Login" type="submit" class="primary large login-button"></arpha-button>
      <div class="text">or</div>
      <arpha-button (clickEvent)="goToRegister()" label="Register" class="secondary large register-button"></arpha-button>
      <div class="crossed-title">
        <span>or Login with</span>
      </div>
    </form>

    <div class="link-container">
      <!--      <arpha-button label="ORCID" class="secondary small icon-text" icon="dashboard"></arpha-button>-->
      <!--      <arpha-button label="Google" class="secondary small icon-text" icon="dashboard"></arpha-button>-->
      <!--      <arpha-button label="Linkedin" class="secondary small icon-text" icon="dashboard"></arpha-button>-->
      <!--      <arpha-button label="Facebook" class="secondary small icon-text" icon="dashboard"></arpha-button>-->
      <arpha-button type="button" label="Pensoft" class="pensoft-login-btn secondary large icon-text" icon="dashboard"  (clickEvent)="signIn()">
      </arpha-button>
    </div>

  </div>
  </div>
</div>
