<button mat-stroked-button color="primary" *ngIf="showAddReferences"[ngStyle]="{display:previewMode.mode?'none':'inline-block'}" class="article-metadata-button" (click)="!previewMode.mode?openReferencesDialog():undefined">References</button>
<button mat-stroked-button color="primary" *ngIf="showAddSupplementaryFiles" [ngStyle]="{display:previewMode.mode?'none':'inline-block'}" class="article-metadata-button" (click)="!previewMode.mode?openSupplementaryFilesDialog():undefined">Suppl. Files</button>
<button mat-stroked-button color="primary" *ngIf="showAddFigures"[ngStyle]="{display:previewMode.mode?'none':'inline-block'}" class="article-metadata-button" (click)="!previewMode.mode?openFiguresDialog():undefined">Figures</button>
<button mat-stroked-button color="primary" *ngIf="showAddTable" [ngStyle]="{display:previewMode.mode?'none':'inline-block'}" class="article-metadata-button" (click)="!previewMode.mode?openTablesDialog():undefined">Tables</button>
<button mat-stroked-button color="primary" *ngIf="showAddEndNotes" [ngStyle]="{display:previewMode.mode?'none':'inline-block'}" class="article-metadata-button" (click)="!previewMode.mode?openEndNotesDialog():undefined">Endnotes</button>
<button *ngIf="
      enforcer.newBeahviorSubject |
      hasPermission:'/articles/sections':
      'GET' |
      async
" mat-stroked-button color="primary" [ngStyle]="{display:previewMode.mode?'none':'inline-block'}" class="article-metadata-button" (click)="!previewMode.mode?addNewSectionToArticle():undefined">Add section</button>
<button [ngStyle]="{display:'none'}" mat-stroked-button color="primary" class="article-metadata-button" (click)="resetCitatsObj()">Reset citats Obj</button>
<!--<button [ngStyle]="{display:'none'}" mat-stroked-button color="primary" class="article-metadata-button" (click)="refreshToken()">Refresh Token</button>-->
<button [ngStyle]="{display:'none'}" mat-stroked-button color="primary" class="article-metadata-button" (click)="preventAddToHistory()">Prevent add to history</button>
<button [ngStyle]="{display:'none'}" mat-stroked-button color="primary" class="article-metadata-button" (click)="openTestingDialog()">Testing dialog</button>
<button [ngStyle]="{display:'none'}" mat-stroked-button color="primary" class="article-metadata-button" (click)="getArticleCollaboratorsData()">Log Collabs</button>
<button [ngStyle]="{display:'none'}" mat-stroked-button color="primary" class="article-metadata-button" (click)="showArticleData()">Show article data</button>
