<mat-icon class="notifications-btn" color="primary" [matBadge]="NumberofNewNotifications" matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small" (click)="showhideNotifications()">notifications</mat-icon>
<div class="abs-cont"  *ngIf="showNotifications" (clickOutside)="close()">
  <div class="notifications-container" >
    <div *ngIf="lastNNotifications.length>0" class="list">
      <table class="notifications-toolbar-table mat-elevation-z8" mat-table [dataSource]="lastNNotifications">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip selected [color]="element.status === 'FAILED' ? 'warn' : element.status === 'PENDING' ? 'accent' : 'primary'">
                {{element.status}}
              </mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="event">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element">
            <div class="nowrap" >
            {{getEvent(element)}}
            </div>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="document">
          <th mat-header-cell *matHeaderCellDef> Document </th>
          <td mat-cell *matCellDef="let element">
            <div class="event nowrap" [ngClass]="{'new':element.new?true:false}" (click)="viewNotification(element)">
            {{getName(element)}}
            </div>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date :'medium'}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <button  class="view-all-btn" (click)="openAllNotificationsDialog()">
      Show all notifications
    </button>
  </div>
</div>
