.notifications-btn {
  vertical-align: middle;
  cursor: pointer;
}

::ng-deep .notifications-toolbar-table {
  margin: 0;
  width: 100%;
  border: none;
  box-shadow: none;
}

.abs-cont {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  box-shadow: 0 2px 4px #1BB1B224 !important;
  padding: 20px;
  border-radius: 6px;
  min-width: 250px;
  font-weight: 400;
  font-size: 17px;
}

.notifications-container {
  position: relative;
  z-index: 20;

  .event {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    line-height: 1.5;
  }

  .view-all-btn {
    border: none;
    cursor: pointer;
    background: transparent;
    width: 100%;
    height: 20px;
    font-size: 14px;
    color: #02b3b6;
    transform: translate(0px, 10px);
  }

  .new {
    font-weight: 1000;
    text-decoration: underline;
  }
}

.mat-chip.mat-standard-chip::after {
  background: none;
}

.mat-chip-list-wrapper input.mat-input-element,
.mat-chip-list-wrapper .mat-standard-chip {
  margin: 0;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0 8px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 0;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0;
}


.mat-chip {
  font-size: 12px;
  padding: 4px 9px;
  min-height: 24px;
}

.nowrap {
  white-space: nowrap !important;
}
