<h2 mat-dialog-title >Insert image.</h2>
<mat-dialog-content>
  <div >
    <app-dropzone (uploaded)="fileIsUploaded($event)" [fileType]="'image/*'">
    </app-dropzone>
    <div class="title">Or add image with a link:</div>
    <mat-form-field appearance="fill" class="file-url-control">
      <mat-label>Enter your img URL here.</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="imgLinkControl" required #imgurlInput>
      <mat-error *ngIf="imgLinkControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="img-container">
    <img *ngIf="imgLinkControl.value" id='insert-img-in-editor-container' src="{{imgLinkControl.value}}" alt="">
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" fxLayoutGap="8px">
  <arpha-button label="Cancel" (clickEvent)="onNoClick()" class="small secondary action-button negative-button">
  </arpha-button>
  <arpha-button label="Insert" (clickEvent)="doAction(data)" class="small primary action-button"></arpha-button>
</mat-dialog-actions>
