:host .sillySpinner {
    min-height: 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.spinnerSpace {
    height: 116px !important;
    height: 150px;
    margin-top: 33px;
    margin-bottom: 32px;
}

.spinnerImg {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: invert(44%) sepia(79%) saturate(907%) hue-rotate(142deg) brightness(97%) contrast(101%);
}

mat-progress-bar {
    width: 60%;
    margin: 0 auto;
}

p {
    margin-top: 18px;
    text-align: center;
}