<!--<ngx-spinner-->
<!--  class="sillySpinner"-->
<!--  name="sp3"-->
<!--  [size]="'medium'"-->
<!--  [bdColor]="'white'"-->
<!--  [color]="'#00B1B2'"-->
<!--  [fullScreen]="false"-->
<!--  type="ball-spin-fade"-->
<!--  size="medium">-->
<!--</ngx-spinner>-->

<mat-card-content>
    <div class="spinnerSpace"><img #spinner class="spinnerImg" src="./../../../../assets//icons//spinningDots.svg" alt=""></div>
    <mat-progress-bar mode="determinate" value="{{progress}}"></mat-progress-bar>
    <p>
        Please wait while Arpha is <br> validating your article.
    </p>
</mat-card-content>