.controls-toolbar {
  flex: 0 0 auto;
  border-bottom: 1px solid;
  border-color: var(--color-f1f2f2);

  .controls-toolbar-row {
    flex-flow: row wrap;
    min-height: 70px;
    height: auto;
    justify-content: flex-end;

    .left-group {
      flex-shrink: 0;
      margin-right: auto;

      button {
        color: var(--color-192956);
        padding: 0 16px 0 0;

        ::ng-deep {
          .mat-button-focus-overlay {
            display: none;
          }
        }

        &.active {
          color: var(--color-00b1b2) !important;
          font-weight: bold;
          ::ng-deep {
            .b {
              stroke: var(--color-00b1b2) !important;
            }
            .a {
              fill: var(--color-00b1b2) !important;
            }
          }
        }
      }


    }

    .middle-group {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      align-content: center;
      flex-grow: 10;

      ::ng-deep {
        .mat-form-field {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-grow: 1;

          textarea {
            width: 100%;
            height: 24px;
            line-height: 24px;
            resize: none;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }
          }

          .mat-form-field-wrapper {
            width: 100%;
            padding: 0;
            margin: 0;

            .mat-form-field-flex {

              .mat-form-field-infix {
                width: 100%;
                margin: 0;
                padding: 0;
                border-top: 0;
              }
            }
          }
        }
      }

      .right-avatars {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
      }
    }

    .right-group {
      flex-flow: row wrap;
      justify-content: flex-end;
      padding: 0 0 16px 0;


      .vertical-delimiter {
        margin: 16px 0 0 16px;
        height: 22px;
        border: 1px solid #e3e3e3;
        border-right: 0;
      }

      arpha-button {
        margin: 16px 0 0 16px;
      }
   }
  }
}

@media all and (max-width: 1199px) {

  .controls-toolbar {
    .controls-toolbar-row {
      .right-group {
        .vertical-delimiter {
          display: none;
        }
      }
    }
  }
}

.selected-article-edit-option {
  color: var(--color-00b1b2) !important;
}

.main-editor-container {
  flex-flow: column nowrap;
  width: 100%;
  flex: 0 1 auto;
  overflow: hidden;
  overflow-x: auto;
}

.side-navbar-actions {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px 0 0;
  gap: 16px;

  .active {
    background: var(--color-e4f6f6) !important;
    ::ng-deep {
      .a {
        fill: var(--color-559efe) !important;
      }
    }
  }
}

.user-reference-lib {
  height: 100%;
  position: fixed;
  width: 100%;
}

::ng-deep .title-form-control {
  color: black !important;
}

app-meta-data-tree {
  display: block;
  width: 100%;
}

app-article-metadata {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px 24px 24px 24px;
  margin: 0;
}

text-content-type {
  padding: 2px;
}

app-prosemirror-editor {
  width: calc(100% - 52px);
  height: 443px;
  border-top-left-radius: 20px;
  margin-top: 20px;
  margin-left: 0;
  display: inline-flex;
  margin-right: 0;
}

.actions-container {
  display: grid;
  grid-template-columns: 341px auto 341px;
  min-width: 1366px;
  flex: 1 0 67px;
  background: var(--color-ffffff);
  border-bottom: 1px solid var(--color-f1f2f2);
  position: relative;
  z-index: 2;
}

.scrollable-editor-content {
  min-width: 1366px;
  flex: 0 1 auto;
  overflow: hidden;

  .mat-drawer-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

$treeSpace: 341px;
.main-container {
  height: 100%;
  display: flex;

  .data-tree {
    display: block;
    flex-shrink: 0;
    height: 100%;
    margin-top: 0;
    width: $treeSpace;
    background: inherit;

    overflow-y: auto;
  }
  .editor-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--color-ffffff);
    border-radius: 0;
    box-shadow: 0 2px 4px #1bb1b224;
    overflow: hidden;
    overflow-y: auto;

    .editor-content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;
      height: max-content;
      width: 100%;

      app-article {
        display: block;
        flex: 1 1 auto;
        height: fit-content;
        margin: 0;
        padding: 24px 4px 24px 52px;
      }

      .editor_buttons {
        display: none;
        position: relative;
        flex: 0 0 38px;
        padding: 12px 0px 12px 0px;

        .editor_buttons_wrapper {
          display: none;
          transition: top 0.1s linear 0s;

          .commentBtnDiv,
          .trackChangesBtnDiv,
          .tag-words-btn-div,
          .citable-items-edit-btn-container,
          .edit-cite-ref-btn-container,
          .delete-citation-btn-container {
            padding: 5px 0;
            height: 50px;
            transition: visibility 0s, opacity 0.2s linear;

            .edit-citable-button,
            .edit-cite-ref-button,
            .delete-citation-btn {
              padding: 4px;
              border-radius: 50% !important;
              background: var(--color-ffffff);
              pointer-events: all;
              cursor: pointer;
              border: none;

              &.edit-citable-button {
                box-shadow: 0 1px 2px 1px var(--color-00b1b2), 0 0 0 0 var(--color-00b1b2), 0 1px 3px 0 var(--color-00b1b2);
              }

              &.edit-cite-ref-button {
                box-shadow: 0 1px 2px 1px var(--color-818181), 0 0 0 0 var(--color-818181), 0 1px 3px 0 var(--color-818181);

                img {
                  width: 24px;
                }
              }

              &.delete-citation-btn {
                box-shadow: 0 1px 2px 1px var(--color-e56b87), 0 0 0 0 var(--color-e56b87), 0 1px 3px 0 var(--color-e56b87);

                img {
                  width: 20px;
                }
              }

              img {
                width: 16px;
              }
            }

            button {
              width: 34px;
              height: 34px;
              display: flex;
              justify-content: center;
              align-items: center;

              .mat-icon {
                height: 20px;
                width: 24px;
                display: block;
              }
            }
          }

          button {
            box-shadow: 0 1px 5px 2px rgb(0 177 178 / 20%), 0 2px 2px 0 rgb(0 177 178 / 20%), 0 1px 4px 0 rgb(0 177 178 / 20%);
            background: var(--color-ffffff);
          }
        }


      }
    }
  }
  .editorSpace {
    width: calc(100% - 500px);
    border-top-right-radius: 20px;
    @media screen and (max-width: 992px) {
      width: calc(100% - #{$treeSpace});
    }
  }
}

::ng-deep .changes_state_btn_mobile {
  width: 28px !important;
  height: 41px !important;
  line-height: 28px !important;
  padding-right: 16px !important;
  .ng-star-inserted {
    display: none !important;
  }
  .mat-icon {
    width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
  }
  .material-icons {
    font-size: 25px !important;
  }
}

.changes_state_btn {
  width: 28px !important;
  height: 28px !important;
  line-height: 28px !important;
  color: var(--color-00b1b2) !important;
  .mat-icon {
    width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
  }
  .material-icons {
    font-size: 25px !important;
  }
}

.changes_on_btn {
  color: #19d928;
}

.changes_on_btn_mobile {
  .mat-icon {
    color: #19d928;
  }
}

.tree_btn_container {
  display: inline;
  margin-left: 10px;
  .editor_tree_btn_mobile {
    color: #00b1b2;
    margin-top: 12px;
    margin-bottom: 2px;
  }
}

.prosemirror_menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

.changes_off_btn {
  color: #f37b4a;
}

.changes_off_btn_mobile {
  .mat-icon {
    color: #f37b4a;
  }
}

.changes_on_editor_side_btn {
  box-shadow: 0 1px 2px 1px #19d928, 0 0 0 0 #19d928, 0 1px 3px 0 #19d928 !important;
}

.changes_off_editor_side_btn {
  box-shadow: 0 1px 2px 1px #f37b4a, 0 0 0 0 #f37b4a, 0 1px 3px 0 #f37b4a !important;
}

.tag_text_as_taxon_side_btn {
  box-shadow: 0 1px 2px 1px #7989ff, 0 0 0 0 #7989ff, 0 1px 3px 0 #7989ff !important;
}

.track_changes_menu {
  background-color: turquoise;
}

.sidebar-container {
  display: inline-flex;
  width: 341px;
  height: 100%;
  background: var(--color-ffffff);
  // box-shadow: -2px 0 1px #1bb1b22b;

  .mat-drawer-inner-container {
    overflow: hidden;
  }
}

.floating-button {
  display: none;
  position: fixed;
  width: 58px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--color-ffffff);
  color: var(--color-000000);
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 4px #00000029;
  z-index: 10000;

   ::ng-deep {
    .mat-button-wrapper {
      padding: 0 !important;
    }
  }

  mat-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
  }
}

::ng-deep {

  .floating-menu {
    min-width: 58px !important;
    width: 58px;
    margin-bottom: -27px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    box-shadow: 0 2px 4px #00000029 !important;

    button {
      text-align: center;
      &:last-child {
        margin-bottom: 27px;
      }
    }

    .mat-icon {
      margin-right: 0 !important;
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
}

::ng-deep {

  .sidebar-bottom-sheet {
    height: 400px;
  }
}

// .citable-items-edit-button {
//   display: flex;
//   flex-flow: column nowrap;
//   gap: 8px;
//   position:absolute;
//   left: calc(100% + 6px);
//   pointer-events: all;

//     .editor-citable-button {



//   }



// }

.template-name-placeholder {
  padding-top: 8px;
  padding-left: 18px;
  font-family: var(--font-family-open-sans);

  .template-label {
    font-size: 12px;
    color: var(--color-cacdd3);
  }

  .template-name {
    display: flex;
    padding-top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-192956);

    .template-img-placeholder {
      padding-left: 12px;

      .template-img {
        width: 19px;
        height: 12px;
      }
    }
  }
}
