<section fxLayout="row" fxLayoutAlign="center" class="container-center mt30px dark-blue">
  <mat-card class="mat-card-shadow mb50px" fxFlex="100%">
    <article fxLayout="column" fxFlex="20%">
      <button mat-button (click)="backClicked()" class="mt20px">
                <mat-icon svgIcon="chevronCircleLeft"></mat-icon> <span class="text14px-primary ml-10px">BACK </span>
            </button>
    </article>
    <article fxLayout="column" fxLayoutAlign="center" fxFlex="60%">
      <mat-tab-group class="tab-profile-info">
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="../../../../../assets/img/user-icon-green-tab.svg" class="icon-label-tab" />
            <span>Sign in details</span>
          </ng-template>
          <app-sing-in-details></app-sing-in-details>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="../../../../../assets/img/lock-green-tab.svg" class="icon-label-tab" />
            <span>Password setup</span>
          </ng-template>
          <app-password-setup></app-password-setup>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="../../../../../assets/img/iphone-green-tab.svg" class="icon-label-tab" />
            <span>My devices</span>
          </ng-template>
          <app-my-devices></app-my-devices>
        </mat-tab>
      </mat-tab-group>
    </article>
  </mat-card>
</section>