<h2 mat-dialog-title>Cite Supplementary file</h2>

<mat-dialog-content>
  <div #noselectionError [ngStyle]="{'display':error?'block':'none'}" class="selection-error">
    You have not selected any supplementary files.
  </div>

  <div class="mat-checkbox-group" fxLayout="column nowrap">
    <mat-checkbox *ngFor="let supplementaryFileId of supplementaryFilesNumbers;let i = index"
                  class="example-margin"
                  [checked]="selectedSupplementaryFiles[i]"
                  [color]='"primary"'
                  (change)="setSelection($event.checked,supplementaryFileId,i)"
    >
      Supplementary File {{i + 1}}
    </mat-checkbox>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button [mat-dialog-close]>Cancel</button>
  <button mat-stroked-button color="primary" (click)="addSupplementaryFile()">Add File</button>
  <button mat-flat-button color="primary" (click)="citateSupplementaryFiles()" [disabled]="selected.length == 0">Cite Files</button>
</mat-dialog-actions>


