<div *ngIf="!nestedNode" [ngClass]="{
    'node-box':!isComplex,
    'node-box-dropdownbox':isComplex}" cdkDrag [cdkDragData]="{node,canDropBool}" cdkDragBoundary=".drag-drop-boundary" >
  <div [style.position]='"relative"' (mouseover)="!previewMode.mode?showButtons(cdkDragSection,true,
    !isComplex?'sectionBorder':'sectionBorderListItem','selectedEditor',node):undefined" (mouseout)="!previewMode.mode?showButtons(cdkDragSection,false,
    !isComplex?'sectionBorder':'sectionBorderListItem','selectedEditor',node):undefined" #cdkDragSection>
    <div class="border-placeholder" *cdkDragPlaceholder>
      <div [ngClass]="{'border-view':true,'cant-drop':!canDropBool![0]}"></div>
    </div>
    <div class=' border' [ngClass]="{
            'sectionBorderInactive':!isComplex && mouseOn!==node.sectionID,
            'sectionBorderListItemInactive':isComplex && mouseOn!==node.sectionID,
            'selectedEditor' : node.sectionID == focusedId&&mouseOn!==node.sectionID&&!isComplex,
            'selectedEditorList' : node.sectionID == focusedId&&mouseOn!==node.sectionID&&isComplex}">
      <button [style.display]="'none'" mat-icon-button cdkDragHandle class="drag_btn hidden " [ngClass]="{
                'drag_btn_leaf_node':!isComplex,
                'drag_btn_list_node':isComplex}"><mat-icon >drag_indicator</mat-icon></button>
      <button *ngIf="isComplex" #expandBtn mat-icon-button class="expandBTN" (click)="changeDisplay(childrenDiv)"><mat-icon class="{{expandIcon}}"  #icon>{{expandIcon}}</mat-icon></button>
      <div class="text-section-div" (click)="scrollToProsemirror()" [innerHTML]="node.title.label | safehtml">
      </div>
    </div>
    <div class="section_btn_container">
      <button *ngIf="node.edit.active" [style.display]="'none'" [attr.buttonaction]="'edit'" [ngStyle]="{'order':'1'}" mat-mini-fab class="section_btn_outerList hidden" (click)="editNodeHandle(node, nodeFormGroup);node.active = true"><mat-icon class="matIcon" >edit</mat-icon></button>
      <button *ngIf="
      node?.add?.active && (
      enforcer.newBeahviorSubject |
      hasPermission:'/articles/sections/*':
      'GET' |
      async
      )" [style.display]="'none'" [ngStyle]="{'order':'2'}" [attr.buttonaction]="'add'" mat-mini-fab class="section_btn_outerList hidden" (click)="addNodeHandle(node.sectionID);showButtons(cdkDragSection,false,
      !isComplex?'sectionBorder':'sectionBorderListItem','selectedEditor',node)">
        <img src="./assets/icons/plus2.svg" alt="{{node.title.label}}">
      </button>
      <button [style.display]="'none'" [ngStyle]="{'order':'3'}" [attr.buttonaction]="'delete'" mat-mini-fab class="section_btn_outerList hidden is-delete" *ngIf="node?.delete?.active" (click)="deleteNodeHandle(node.sectionID)">
        <img src="./assets/icons/delete_forever-red.svg" alt="{{node.title.label}}">
      </button>
      <button *ngIf="(node?.addSubSection?.active) &&
      (enforcer.newBeahviorSubject |
      hasPermission:'/articles/sections/*':
      'GET' |
      async)
      " [style.display]="'none'" [attr.buttonaction]="'post_add'" [ngStyle]="{'order':'4'}" mat-mini-fab class="addSectionBtn section_btn_nestedList hidden" (click)="addSectionToNode(node, nodeFormGroup);showButtons(cdkDragSection,false,
      !isComplex?'sectionBorderNested':'sectionBorderListNested',
      !isComplex?'selectedEditorNestedLeaf':'selectedEditorNestedList',node)"><mat-icon class="matIcon">post_add</mat-icon></button>
    </div>
  </div>
  <div #listDiv class="example-list-dropdownbox" [style.display]="'none'" #childrenDiv>
    <app-cdk-list-recursive *ngIf="isComplex" [firstNested]='!nestedNode' [(articleSectionsStructure)]="node.children" [listData]="{expandParentFunc,listDiv,listinstance:this}" [nestedList]="true" [listParentId]='node.sectionID'></app-cdk-list-recursive>
  </div>
</div>
<div *ngIf="nestedNode" [ngClass]="{
    'node-box-nested':!isComplex,
    'node-box-dropdownbox-nested':isComplex}" cdkDrag [cdkDragData]="{node,canDropBool}" cdkDragBoundary=".drag-drop-boundary" >
  <div [style.position]='"relative"' class="dropdown-wrapper" (mouseover)="!previewMode.mode?showButtons(cdkDragSection,true,
    !isComplex?'sectionBorderNested':'sectionBorderListNested',
    !isComplex?'selectedEditorNestedLeaf':'selectedEditorNestedList',node):undefined" (mouseout)="!previewMode.mode?showButtons(cdkDragSection,false,
    !isComplex?'sectionBorderNested':'sectionBorderListNested',
    !isComplex?'selectedEditorNestedLeaf':'selectedEditorNestedList',node):undefined" #cdkDragSection>
    <div class="text-placeholder"></div>
    <div class="border-placeholder-nested" *cdkDragPlaceholder>
      <div [ngClass]="{'border-view':true,'cant-drop':!canDropBool![0]}"></div>
    </div>
    <div class=' border' [ngClass]="{
            'sectionBorderNestedInactive':!isComplex && mouseOn!==node.sectionID,
            'sectionBorderListNestedInactive' : mouseOn!==node.sectionID&&isComplex,
            'selectedEditorNestedLeaf' : node.sectionID == focusedId&&mouseOn!==node.sectionID&&!isComplex,
            'selectedEditorNestedList' : node.sectionID == focusedId&&mouseOn!==node.sectionID&&isComplex}" #parentOfText>
      <button [style.display]="'none'" mat-icon-button cdkDragHandle class="drag_btn hidden" [ngClass]="{
                'drag_btn_leaf_node_nested':!isComplex,
                'drag_btn_list_node_nested':isComplex}"><mat-icon >drag_indicator</mat-icon></button>
      <button *ngIf="isComplex" #expandBtn mat-icon-button class="expandBTNNested" (click)="changeDisplay(childrenDiv)"><mat-icon class="{{expandIcon}}" #icon>{{expandIcon}}</mat-icon></button>
      <div class="text-section-div-nested" (click)="scrollToProsemirror()" [innerHTML]="node.title.label | safehtml">
      </div>
    </div>
    <div class="section_btn_container">
      <button [style.display]="'none'" [ngStyle]="{'order':'1'}" mat-mini-fab [attr.buttonaction]="'edit'" class="section_btn_nestedList hidden" *ngIf="node.edit.active" (click)="editNodeHandle(node, nodeFormGroup)">
        <mat-icon class="matIcon">edit</mat-icon>
      </button>
      <button [style.display]="'none'" [ngStyle]="{'order':'2'}" [attr.buttonaction]="'add'" mat-mini-fab class="section_btn_nestedList hidden" *ngIf="node?.add?.active" (click)="addNodeHandle(node.sectionID);showButtons(cdkDragSection,false,
      !isComplex?'sectionBorderNested':'sectionBorderListNested',
      !isComplex?'selectedEditorNestedLeaf':'selectedEditorNestedList',node)">
        <img src="./assets/icons/plus2.svg" alt="{{node.title.label}}">
      </button>
      <button [style.display]="'none'" [ngStyle]="{'order':'3'}" [attr.buttonaction]="'delete'" mat-mini-fab class="section_btn_nestedList hidden is-delete" *ngIf="node?.delete?.active" (click)="deleteNodeHandle(node.sectionID)">
        <img src="./assets/icons/delete_forever-red.svg" alt="{{node.title.label}}">
      </button>
      <button [style.display]="'none'" [ngStyle]="{'order':'4'}" [attr.buttonaction]="'post_add'" mat-mini-fab class="addSectionBtn section_btn_nestedList hidden" *ngIf="node?.addSubSection?.active" (click)="addSectionToNode(node, nodeFormGroup);showButtons(cdkDragSection,false,
      !isComplex?'sectionBorderNested':'sectionBorderListNested',
      !isComplex?'selectedEditorNestedLeaf':'selectedEditorNestedList',node)"><mat-icon class="matIcon">post_add</mat-icon></button>
    </div>
  </div>
  <div #listDiv class="example-list-dropdownbox-nested" [style.display]="'none'" #childrenDiv>
    <div *ngIf="!lastNestedChild&&isComplex" class="vertical_line_nestedList"></div>
    <app-cdk-list-recursive *ngIf="isComplex" [(articleSectionsStructure)]="node.children" [listData]="{expandParentFunc,listDiv,listinstance:this}" [nestedList]="true" [listParentId]='node.sectionID'></app-cdk-list-recursive>
  </div>
</div>
