<mat-card *ngIf="change" class="change-box" (click)="selectChange()">
  <mat-card-header>
    <div class="mat-card-avatar-container">
      <ngx-avatar mat-card-avatar size="36" [fgColor]="change.changeAttrs.user == currUserId?'white':change.changeAttrs.userContrastColor" [bgColor]="change.changeAttrs.user == currUserId?'#00B1B2':change.changeAttrs.userColor" [name]="change.changeAttrs.username"></ngx-avatar>
      <span><img src="./assets/icons/reference-small.svg" alt="{{change.changeAttrs.username}}" /></span>
    </div>
    <mat-card-title class="change-title">{{change.changeAttrs.username}}</mat-card-title>
    <mat-card-subtitle class="change-subtitle">{{getDate(change.changeAttrs.date)}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="edited-text">
      <div class="edited-text-title">{{change.type == 'deletion'?'Deleted:':change.type=='format_change'?'Formated:':'Inserted:'}}</div>

      <div class="edited-text-content {{change.type}} target"
           [ngClass]="{
      'is-cropped':!initialShowMore,
      'is-shown':initialShowMore
      }" [ngStyle]="{
        background:change.type == 'deletion'?'#ffd0d0':change.changeAttrs.user == currUserId?'#00B1B2':change.changeAttrs.userColor,
        color:change.type == 'deletion'?'black':change.changeAttrs.user == currUserId?'white':change.changeAttrs.userContrastColor
      }">
        <span #changeSpan>{{change.changeTxt}}</span>
      </div>
      <a (click)="initialShowMore = !initialShowMore;"
         [ngClass]="{
         'morelessBtn':true,
         'is-hidden':changeSpan.offsetHeight < 60
         }"
      >
        {{initialShowMore ? 'Show less': 'Show more' }}
      </a>
    </div>

    <div class="comment-btns-container">
      <div class="comment-btns" fxLayout="row nowrap" fxLayoutGap="30px" fxLayoutAlign="center center">
        <button mat-flat-button color="primary"
                *ngIf="ydocService.curUserAccess&&ydocService.curUserAccess!='View only'&&ydocService.curUserAccess!='Comment only'"
                (click)="!previewMode.mode?acceptChange(change.type,change.changeAttrs):undefined">
      Accept
        </button>
        <button mat-stroked-button *ngIf="ydocService.curUserAccess&&ydocService.curUserAccess!='View only'&&ydocService.curUserAccess!='Comment only'"
                (click)="!previewMode.mode?declineChange(change.type,change.changeAttrs):undefined">
          Decline
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
