<h2 mat-dialog-title>Invite Contributor</h2>

<mat-dialog-content>
  <form [formGroup]="inviteUsersForm" fxLayout="column nowrap">

    <mat-label class="upper-label">Users</mat-label>
    <mat-form-field class="form-chips" appearance="fill" fxFlex="48">
      <mat-chip-list #chipList aria-label="Select user">
        <mat-chip *ngFor="let user of users" (removed)="remove(user)">
          {{user.email}}
          <button *ngIf="!dialogIsOpenedFromComment" matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input *ngIf="!dialogIsOpenedFromComment" placeholder="User..." #usersInput [formControl]="invitedPeople" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option class="contributors-invite-search-result" *ngFor="let invitedUser of resultData | async" [value]="invitedUser" >
          <ngx-avatar class="contributors-avatar" mat-card-avatar size="32" [gravatarId]="invitedUser.email" [name]="invitedUser.name"></ngx-avatar>

          <span class="contributor-text">
            <div class="name-div" [innerHTML]="invitedUser.name | makeTextBold : invitedPeople.value"></div>
            <div class="email-div" [innerHTML]="invitedUser.email | makeTextBold : invitedPeople.value"></div>
          </span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-label class="upper-label">Permissions</mat-label>
    <mat-form-field floatLabel='never' class="form-access" appearance="fill" fxFlex="48">
      <mat-select formControlName="accessSelect">
        <mat-option *ngFor="let option of accessOptions" [value]="option.name">{{option.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-label class="upper-label">Role</mat-label>
    <mat-form-field floatLabel='never' class="form-role" appearance="fill" fxFlex="48">
      <mat-select formControlName="roleSelect">
        <mat-option *ngFor="let option of roleOptions" [value]="option.name">{{option.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="affiliations-container" *ngIf="roleSelect.value == 'Author'||roleSelect.value == 'Co-author'" >
      <div>
        <ng-container formArrayName="affiliations">
          <ng-container *ngFor="let  affiliation of affiliations.controls; let index = index">
            <div [formGroupName]="index">
              <div fxLayout="row nowrap" fxLayoutGap="16px">
                <div fxLayout="column nowrap" fxFlex="30">
                  <mat-label class="upper-label">Affiliation</mat-label>
                  <mat-form-field floatLabel='never' class="form-affiliations" appearance="fill">
                    <input matInput formControlName="affiliation" placeholder="Affiliation">
                  </mat-form-field>
                </div>
                <div fxLayout="column nowrap"  fxFlex="28">
                  <mat-label class="upper-label">City</mat-label>
                  <mat-form-field floatLabel='never' class="form-affiliations" appearance="fill">
                    <input matInput formControlName="city" placeholder="City">
                  </mat-form-field>
                </div>
                <div fxLayout="column nowrap" fxFlex="28">
                  <mat-label class="upper-label">Country</mat-label>
                  <mat-form-field floatLabel='never' class="form-affiliations" appearance="fill">
                    <input matInput type="text" [formControlName]="'country'" [formControl] [matAutocomplete]="auto1" placeholder="Country">
                    <mat-autocomplete #auto1="matAutocomplete">
                      <mat-option *ngFor="let option of filter($any(affiliation).controls.country.value)" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <button class="remove-affiliation-btn" mat-stroked-button color="warn" (click)="removeAffiliation(index)" [disabled]="affiliations.controls.length==1">Delete</button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <button class="form-affiliations" mat-flat-button color="primary" (click)="addAffiliation()">Add affiliation</button>
    </div>

    <mat-label class="upper-label">Message</mat-label>
    <mat-form-field class="message-form" appearance="fill" fxFill>
      <textarea rows="3" matInput formControlName="message" placeholder="Message"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button [mat-dialog-close]>Cancel</button>
  <button mat-flat-button color="primary" [disabled]="users.length==0||
              !inviteUsersForm.controls.accessSelect.value||
              ((!inviteUsersForm.controls.message.value||
              inviteUsersForm.controls.message.value.length == 0)&&!dialogIsOpenedFromComment)" (click)="(users.length==0||!inviteUsersForm.controls.accessSelect.value||
                ((!inviteUsersForm.controls.message.value||
              inviteUsersForm.controls.message.value.length == 0)&&!dialogIsOpenedFromComment)
              )?undefined:submitInviteUsersForm()">Invite
  </button>
</mat-dialog-actions>
