<h2 mat-dialog-title *ngIf="tablesNumbers" class="title-margin-bottom">Tables</h2>

<mat-dialog-content *ngIf="tablesNumbers">
  <div *ngIf="tablesNumbers.length==0">There are no tables right now.You can be the first one to add a table with the
    "Add Table" button.
  </div>

  <ng-container *ngIf="tablesNumbers.length>0">
    <div cdkDropList class="tables-list" (cdkDropListDropped)="drop($event)">
      <div class="table-box" *ngFor="let table of tablesNumbers;let i = index" cdkDrag>

        <mat-icon class="drag-icon">drag_indicator</mat-icon>

        <div>
          <div class="table-view">
            <app-citable-table [(table)]="tables![table]" [tableIndex]="i"></app-citable-table>
          </div>
          <div class="table-control-buttons button-group">
            <button mat-stroked-button color="primary" (click)="editTable(tables![table],i)">Edit</button>
            <button mat-stroked-button color="warn" (click)="deleteTable(tables![table],i)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions *ngIf="tablesNumbers" align="end" fxLayoutGap="8px">
  <!-- <button mat-stroked-button [mat-dialog-close]="true">Cancel</button> -->
  <button mat-stroked-button color="primary" (click)="addTable()">Add Table</button>
  <button mat-flat-button color="primary" (click)="saveTables()">Ok</button>
</mat-dialog-actions>
