<div class="landing-content">

  <div class="landing-top">

    <div class="logo">
      <img src="./assets/img/logo1.svg" height="42px" width="197px" alt="arpha">
      <div class="app-version">v:{{version}}</div>
    </div>

    <div class="content">
      <h1>
        Collaborative authoring, reviewing and publishing in one place!
      </h1>

      <div class="actions">
        <arpha-button label="Login" (clickEvent)="signIn()" class="small primary login-button"></arpha-button>
        <arpha-button label="Register" (clickEvent)="goToRegister()" class="small secondary noborder register-button"></arpha-button>
      </div>
    </div>
  </div>

  <div class="landing-bottom">
  <div class="card-container">
    <div class="card">
      <p class="card-title">
        Online authoring
      </p>
      <div class="image-container">
        <img src="./assets/img/online_authoring.jpg" height="260px" width="260px" alt="girl">
      </div>
      <ul class="card-content">
        <li>Write a manuscript online</li>
        <li>Easy online revisions and editing</li>
        <li>Submit it at a click of a button</li>
      </ul>
    </div>
    <div class="card">
      <p class="card-title">
        Online collaboration
      </p>
      <div class="image-container">
        <img src="./assets/img/online_collaboration.jpg" height="260px" width="260px" alt="girl">
      </div>
      <ul class="card-content">
        <li>Work with co-authors and peers</li>
        <li>Pre-submission external reviews</li>
        <li>Automated technical validation</li>
      </ul>
    </div>
    <div class="card">
      <p class="card-title">
        Integrated services
      </p>
      <div class="image-container">
        <img src="./assets/img/integrated_services.jpg" height="260px" width="260px" alt="girl">
      </div>
      <ul class="card-content">
        <li>Online import of references/data</li>
        <li>Import manuscripts via XML/API</li>
        <li>Export manuscripts as XML/PDF</li>
      </ul>
    </div>
  </div>
</div>
</div>
