.landing-content {
  display: flex;
  flex-flow: column nowrap;

  .landing-top {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-image: url('../../../../assets/img/Home-photo-1@2x.png');
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    .logo {
      display: block;
      position: relative;
      width: 100%;
      padding: 28px 42px;

      .app-version {
        position: absolute;
        bottom: 18px;
        left: 58px;
        font-size: 9px;
        color: var(--color-ffffff);
        z-index: 10;
      }
    }

    .content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 290px 20px 60px 20px;
      margin: 0 auto;
      width: 60%;
      height: 85vh;

      h1 {
        width: 100%;
        text-align: center;
        font-family: var(--font-family-open-sans);
        font-style: var(--font-style-normal);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-45);
        line-height: var(--line-spacing-56);
        letter-spacing: var(--character-spacing-0);
        color: var(--color-f7f9fb);
      }

      .actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 37px;
        margin-top: 25px;

        .login-button,
        .register-button,
        .orcid-button {
          ::ng-deep {
            button {
              min-width: 212px;
              height: 48px;
              font-size: 21px;
              line-height: 28px;
              img {
                left: -6px;
                position: relative;
                width: 30px;
              }
            }
          }
        }
      }
    }
  }

  .landing-bottom {
    width: 100%;
    background-color: #ffffff;

    .card-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 26px;
      width: 100%;
      margin-top: 60px;
      padding: 0 26px 100px 26px;

      .card {
        min-height: 481px;
        max-width: 350px;
        box-shadow: 0 2px 4px #1BB1B224;
        border-radius: 20px;

        .card-title {
          display: block;
          padding: 0 20px;
          margin-top: 24px;
          line-height: 50px;
          font-size: 28px;
          text-align: center;
          font-family: var(--font-family-open-sans);
          font-style: var(--font-style-normal);
          font-weight: var(--font-weight-bold);
          color: var(--color-192956);
        }

        .image-container {
          width: 260px;
          margin: 0 auto;
        }

        ul.card-content {
          list-style: none;
          margin: 0 22px 36px 22px;
          padding: 0;

          li {
            padding-left: 1.5em;
            font-family: var(--font-family-open-sans);
            font-style: var(--font-style-normal);
            font-weight: var(--font-weight-normal);
            font-size: var(--font-size-18);
            line-height: var(--line-spacing-45);
            letter-spacing: var(--character-spacing-0);
            color: var(--color-192956);
          }

          li:before {
            content: "\f00c";
            font-family: FontAwesome;
            display: inline-block;
            color: var(--color-00b1b2);
            margin-left: -1.5em;
            width: 1.5em;
          }
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .landing-content {

    .landing-top {

      .content {
        padding: 35px 0 64px 0;
        margin: 0 81px 0 auto;

        h1 {
          text-align: left;
        }

        .actions {
          justify-content: flex-start;
        }
      }
    }
  }
}










