<h2 class="notifications-head">Notifications</h2>

<mat-dialog-content class="all-notifications">

  <div class="all-notifications-content">

    <table mat-table [dataSource]="allNotifications" class="notifications-table" *ngIf="allNotifications.length>0">

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element" class="status">
          <mat-chip-list>
            <mat-chip selected [color]="element.status === 'FAILED' ? 'warn' : element.status === 'PENDING' ? 'accent' : 'primary'">
              {{element.status}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          <p class="nowrap" >{{getEvent(element)}}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef>Document</th>
        <td mat-cell *matCellDef="let element" (click)="viewNotification(element)">
          <p class="event nowrap" [ngClass]="{'new': element.new}">{{getName(element)}}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'medium'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="notifications-container" *ngIf="allNotifications.length == 0">
      Yuo dont have any notifications right now.
    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>
