<h2 mat-dialog-title *ngIf="type == 'mathinline'">Math expression</h2>
<h2 mat-dialog-title *ngIf="type == 'comment'">Write Comment</h2>
<h2 mat-dialog-title *ngIf="type == 'anchorTag'">Anchor ID</h2>

<mat-dialog-content>
  <p *ngIf="type == 'mathinline'">Enter KaTeX mathematical expression.</p>
  <p *ngIf="type == 'comment'">White your comment here.</p>
  <p *ngIf="type == 'anchorTag'">White your anchor id here.</p>

  <mat-label class="upper-label" *ngIf="type == 'mathinline'">Math expression</mat-label>
  <mat-label class="upper-label" *ngIf="type == 'video'">Video embed link</mat-label>
  <mat-label class="upper-label" *ngIf="type == 'comment'">Comment</mat-label>
  <mat-label class="upper-label" *ngIf="type == 'anchorTag'">Anchor id</mat-label>

  <mat-form-field [style.width]='"100%"' appearance="fill" >
    <textarea *ngIf="type == 'mathinline'" matInput  [(ngModel)]="data.url" [formControl]="text" required style="color: black !important;" #dialogInput rows="4"></textarea>
    <input *ngIf="type == 'comment'" matInput [(ngModel)]="data.url" #dialogInput
           [formControl]="text" required style="color: black !important;" placeholder="Enter comment">
    <input *ngIf="type == 'anchorTag'" matInput [(ngModel)]="data.url" #dialogInput
           [formControl]="text" required style="color: black !important;" placeholder="Enter anchor id">
    <mat-error *ngIf="text.invalid">{{getErrorMessage()}}</mat-error>
    <mat-hint class="mat-form-field-hint-custom" *ngIf="type == 'mathinline'"> See
      <a href="https://katex.org/docs/supported.html"  target="_blank">https://katex.org/docs/supported.html</a>
      for supported functions, operators and etc.</mat-hint>
  </mat-form-field>

  <mat-radio-group *ngIf="type == 'mathinline'"
                   [formControl]="mathType"
                   [(ngModel)]="selectedMathExample">
    <mat-card *ngFor="let preview of this.mathPreviews" class="mat-card-shadow">
      <mat-radio-button [value]="preview.value">
       <div [innerHTML]="sanitize(preview.html)"></div>
      </mat-radio-button>
    </mat-card>
  </mat-radio-group>

</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="{text, mathType}" *ngIf="type == 'mathinline'" cdkFocusInitial>
    Insert Expression
  </button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data.url" *ngIf="type == 'comment'" cdkFocusInitial>
    Submit Comment
  </button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data.url" *ngIf="type == 'anchorTag'" cdkFocusInitial>
    Submit ID
  </button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data.url" *ngIf="type == 'video'" cdkFocusInitial>
    Embed Video
  </button>
</mat-dialog-actions>

