<h2 mat-dialog-title>Export Errors</h2>

<mat-dialog-content class="dynamic-content-height">
  <div class="errors-container">
    <div class="jats-error" *ngFor="let error of data.errors">
        <ng-container *ngIf="error.message; else simpleMessage">
          <div class="message">{{error.message}}</div>
          <div class="position" *ngIf="error.line&&error.column">{{error.line}}:{{error.column}}</div>
        </ng-container>
        <ng-template #simpleMessage>
          <div class="message">
            {{error}}
          </div>
        </ng-template>
    </div>
  </div>
</mat-dialog-content>


<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-flat-button color="primary" [mat-dialog-close] cdkFocusInitial>Ok</button>
</mat-dialog-actions>
