@import "../../../../../../assets/colors";
mat-icon.mat-icon.notranslate.add-circle-green.mat-icon-no-color {
    width: 50px;
    height: 40px;
}

.list-other-email{
    border-top: 1px solid $primary-grey;
    padding: 15px 0 15px 0;
}

.right-btn{
   width: 78%;
    justify-content: flex-end;
    display: flex;
}
