<h2 mat-dialog-title class="title-margin-bottom">Add Contributors</h2>

<div class="search-field-wrapper" (clickOutside)="hideResults()">

  <div class="mat-form-field-search-label">Invite people</div>
  <mat-form-field class="mat-form-field-search" appearance="fill">
    <input type="text" class="input-search" placeholder="Search by name" (focus)="showResult()" matInput [formControl]="searchFormControl" #searchUsersInput autocomplete="off">
    <mat-icon matPrefix class="prefix-icon">search</mat-icon>
  </mat-form-field>
  <div class="search-result-container" >
    <div *ngIf="searchResults.length>0" class="search-results">
      <ng-container *ngFor="let contributor of searchResults">
        <div fxLayout="row nowrap" fxLayoutAlign="flex-start center" fxLayoutGap="16px" class="results-row" (click)="openAddContrDialog(contributor)">
          <ngx-avatar mat-card-avatar size="32" [gravatarId]="contributor.email" [name]="contributor.name"></ngx-avatar>

          <span class="contributor-name">
            <div [innerHTML]="contributor.name | makeTextBold : searchFormControl.value"></div>
            <div [innerHTML]="contributor.email | makeTextBold : searchFormControl.value"></div>
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<mat-dialog-content class="fixed-dialog-content-height">
  <div class="container-shadow-contributor">
    <div *ngIf="this.collaborators &&this.collaborators.collaborators">
      <div *ngIf="this.authors&&this.authors.length>0" cdkDropList class="authors-list container-contributers" fxLayout="column nowrap" fxLayoutGap="10px" (cdkDropListDropped)="drop($event)">
        <h3 class="authors-list-h">Authors:</h3>
        <ng-container *ngFor="let author of authors">
          <div *ngIf="author.access == 'Owner'" fxLayout="row nowrap" fxLayoutAlign="flex-start center" fxLayoutGap="16px" cdkDragLockAxis="y"  class="contributor-row is-owner author-box" cdkDrag>
            <div class="author-handle" cdkDragHandle fxLayout="column nowrap" fxLayoutAlign="center center">
              <mat-icon class="move-icon">drag_indicator</mat-icon>
            </div>
            <ngx-avatar mat-card-avatar size="42" [gravatarId]="author.email" [name]="author.name"></ngx-avatar>
            <span class="contributor-name" fxFlex="1 0 0">
              <div>{{author.name}}{{author.email == currentUser.email?" (you)":''}}</div>
              <div>{{author.email?author.email:''}}</div>
            </span>
            <span class="contributor-role">{{author.access}}</span>
            <button *ngIf="isOwner" class="edit-contributor-btn" (click)="editContr(author)">
              <mat-icon svgIcon="editGreen"></mat-icon>
            </button>
          </div>
          <div *ngIf="author.access != 'Owner'" class="contributor-row author-box" fxLayout="row nowrap" cdkDragLockAxis="y"  fxLayoutAlign="flex-start center" fxLayoutGap="16px" cdkDrag>
            <div class="author-handle" cdkDragHandle fxLayout="column nowrap" fxLayoutAlign="center center">
              <mat-icon class="move-icon">drag_indicator</mat-icon>
            </div>
            <ngx-avatar mat-card-avatar size="42" [gravatarId]="author.email" [name]="author.name"></ngx-avatar>
            <span class="contributor-name" fxFlex="1 0 0">
              <div>{{author.name}}{{author.email == currentUser.email?" (you)":''}}</div>
              <div>{{author.email}}</div>
            </span>
            <span class="contributor-role">{{author.access}}</span>
            <button *ngIf="isOwner" class="edit-contributor-btn" (click)="editContr(author)">
            <mat-icon svgIcon="editGreen"></mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
      <div *ngIf="this.contributors&&this.contributors.length>0" class="contributors-list container-contributers" fxLayout="column nowrap" fxLayoutGap="10px" >
        <h3 class="contributors-list-h">Contributors:</h3>
        <ng-container *ngFor="let author of contributors">
          <div *ngIf="author.access == 'Owner'" fxLayout="row nowrap" fxLayoutAlign="flex-start center" fxLayoutGap="16px" class="contributor-row is-owner">
            <ngx-avatar mat-card-avatar size="42" [gravatarId]="author.email" [name]="author.name"></ngx-avatar>
            <span class="contributor-name" fxFlex="1 0 0">
            <div>{{author.name}}{{author.email == currentUser.email?" (you)":''}}</div>
            <div>{{author.email}}</div>
            </span>
            <span class="contributor-role">{{author.access}}</span>
          </div>
          <div *ngIf="author.access != 'Owner'" class="contributor-row" fxLayout="row nowrap" fxLayoutAlign="flex-start center" fxLayoutGap="16px">
            <ngx-avatar mat-card-avatar size="42" [gravatarId]="author.email" [name]="author.name"></ngx-avatar>
            <span class="contributor-name" fxFlex="1 0 0">
              <div>{{author.name}}{{author.email == currentUser.email?" (you)":''}}</div>
              <div>{{author.email}}</div>
            </span>
            <span class="contributor-role">{{author.access}}</span>
            <button *ngIf="isOwner" class="edit-contributor-btn" (click)="editContr(author)">
            <mat-icon svgIcon="editGreen"></mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <article fxLayout="column">
      <div fxLayout="row" fxLayoutGap="15px" fxFill fxLayoutAlign="end" class="dialogbtns border-radius20 mt10px">
      </div>
    </article>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button [mat-dialog-close]>Cancel</button>
  <button mat-flat-button color="primary" (click)="closeDialog()">Save</button>
</mat-dialog-actions>
