@import "../../../../../assets/colors";
.section-add-files {
  margin: 50px 0 0 0;

  .subtitle-add-files {
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 27px 0;
  }

  .background-cloud {
    background: url('../../../../../assets/img/icons-file-cloud_upload.svg') no-repeat center center #E4F6F691;
    width: 825px;
    height: 362px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 0 auto;
    border: 1px dashed $primary-green;
  }

  .dropzone-container {
    height: 295px !important;
  }

  ngx-dropzone {
    background: $dropzone-bg;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    overflow-x: auto;
    width: 825px;
    height: 295px !important;
    align-items: flex-start;
    outline: none;

    img {
      margin: 20px 0 0 0;
      width: 185px;
      height: 93px;
    }

    .drag-drop-text {
      font-size: 18px;
      margin: 37px 0 0 0;
    }

    .browse-text {
      line-height: 30px;
      color: $primary-green;
      padding-top: 10px;

      img {
        width: 13px;
        height: 13px;
      }
    }
  }
  ngx-dropzone-label.ng-star-inserted {
    outline: none;
}
  .cancel-button {
    width: 100%;
    // height: 43px;
    justify-content: center;
    align-items: center;
    display: flex;
    // margin-top: -50px;
    padding: 17px 0 17px 0;
    box-shadow: 0px 0px 10px $box-shadow;
    opacity: 1;
    z-index: 1;
    border-radius: 15px;
    background: $dropzone-bg;
    margin-bottom: 2px;
  }

  .button-stroked-primary {
    border: 1px solid $primary-green!important;
    border-radius: 6px !important;
    height: 29px;
    line-height: 29px;
  }

  .button-upload {
    height: 29px;
    line-height: 29px;
  }

  ngx-dropzone-image-preview {
    ngx-dropzone-label {
      outline: none;
      justify-content: flex-start;
      align-self: flex-end;
      display: flex;
      word-break: break-all;
    }
  }

}