<h2 mat-dialog-title>Export Manuscript</h2>

<mat-dialog-content class="dynamic-content-height">
  <div class="options-container" fxLayout="flex nowrap" fxLayoutAlign="flex-start flex-start">
    <div class="format-label">Format:</div>
    <mat-radio-group class="format-options" [(ngModel)]="selectedType">
      <mat-radio-button class="format-option" value="pdf">PDF</mat-radio-button>
      <mat-radio-button [disabled]="true" class="format-option" value="rtf">RTF</mat-radio-button>
      <!--
      <mat-radio-button class="format-option" value="msWord">MS Word</mat-radio-button>
      -->
      <mat-radio-button class="format-option" value="jatsXml">JATS xml</mat-radio-button>
      <!--
      <mat-radio-button class="format-option" value="json-ld">JSON-LD</mat-radio-button>
      -->
    </mat-radio-group>
  </div>
  <!--
  <div class="export-container" fxLayout="flex nowrap" fxLayoutAlign="flex-start center">
    <div class="export-label">Export to:</div>
    <div class="export-place">
      <img class="folder-icon" src="../../../../assets/icons/folder.svg" alt="">
      <div class="folder-path">{{path}}</div>
      <button class="change-folder-btn" color="primary" mat-button>Change</button>
    </div>
  </div>
  -->
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button [mat-dialog-close]>Cancel</button>
  <button mat-flat-button color="primary" (click)="openEditBeforeExport(selectedType)" [mat-dialog-close]>
    Export
    <img src="../../../../assets/icons/download.svg" alt="" >
  </button>
</mat-dialog-actions>
